NODE_ENV='development'

PORT=8080

DB_URI='mongodb://localhost:27017/project_backend"'

# cloudinary
CLOUDINARY_CLOUD_NAME='base_version'
CLOUDINARY_API_KEY='869753911364178'
CLOUDINARY_API_SECRET='BpPVQaooxucVgrzu3_pVQqWb2gs'

# JWT
JWT_SECRET = "jwt-secret"
JWT_EXPIRES_IN = '7d'
# cookies

COOKIE_EXPIRES_IN=7

# email / nodemailer

